{% extends "base.html" %}
{% block contents %}
{% load static %}

<link href = "{% static 'css/reg_form.css' %}" rel="stylesheet" type="text/css">

<div class="wrapper fadeInDown" style="margin-top: 50px; ">
    <div id="formContent">
  
        <br>
        
        <div class="col-12" style="margin-left: 35px;">
            <h4 style="font-weight: bold; margin-bottom: 20px;">인증을 위한 메일이 발송되었습니다.</h4>
            <p>입력하신 메일을 확인해주세요.<br>인증을 하지 않으시면 로그인이 되지 않습니다.</p>
            <br>
        </div>
    </div>
    <div id="formFooter">
        <a class="underlineHover" href="{% url 'main' %}"><b>메인으로</b></a>
    </div>
</div>

{% endblock %}