{% extends "base.html" %}

{% block contents %}
<div style="margin-top:80px;">
    {% for item in page %}
      {{item}}
    {% endfor %}
    <div>
        <div style=" background-color: rgb(111, 160, 224); width: 110px; border: 3px solid rgb(61, 131, 236); border-radius: 8px; padding: 10px; font-family: Arial; font-style: bold; font-size: 20px; color: rgb(255, 255, 255);">채용공고</div><hr><br>
        <div align="right">
            {% if job_detail.author == user %} 
                <a href="{% url 'rewrite' job_detail.page_number %}">수정 </a> |
                <a href="{% url 'remove' job_detail.page_number %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
            {% endif %}
        </div>
    </div>
    <div align="center">
        <h3 style="font-size: 30px;">{{ job_detail.title }}</h3>
        {% if job_detail.image %}
            <img src="{{ job_detail.image.url }}" width="700px" height="800px"><br>
        {% endif %}
        <br><br>
        <div style="font-size: 20px;">{{ job_detail.body }}<br></div>
    </div>
    <h5 align="right">{{ job_detail.pub_date }}</h5> 
    <hr>
    <div align="center">
        {% if job_detail.page_number > 1 %}
        <a href="{% url 'before' job_detail.page_number %}" class="button" style="background-color: lightblue; padding: 5px 5px; border-radius: 5px; font-size: 20px;">이전 공고</a> |
        {% endif %}
        {% if job_detail.page_number < row_count %}
        <a href="{% url 'next' job_detail.page_number %}" class="button" style="background-color: lightblue; padding: 5px 5px; border-radius: 5px;font-size: 20px;">다음 공고</a>|
        {% endif %}
        <a href="{% url 'job' %}" class="button" style="background-color: lightblue; padding: 5px 5px; border-radius: 5px; font-size: 20px;">목록으로</a>
        <br><br><br>
    </div>   
</div>
{% endblock %}